<div class="bell" id="bell" @onclick="ResetBellAnimation">
    <MudIcon class="anchor layer-1" Icon="@Icons.Material.Rounded.NotificationsActive" Title="bell_active"/>
    <MudIcon class="anchor layer-2" Icon="@Icons.Material.Rounded.Notifications" Title="bell"/>
    <MudIcon class="anchor layer-3" Icon="@Icons.Material.Rounded.Notifications" Title="bell"/>
</div>